<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
</head>
<body>
    {% include 'includes/header.twig' %}
    {% include 'includes/navbar.twig' %}

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4>Perfil de Usuario</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group mb-3">
                                <label for="name">Nombre</label>
                                <input type="text" id="name" class="form-control" value="{{ user.name }}" readonly>
                            </div>
                            <div class="form-group mb-3">
                                <label for="surname">Apellido</label>
                                <input type="text" id="surname" class="form-control" value="{{ user.surname }}" readonly>
                            </div>
                            <div class="form-group mb-3">
                                <label for="phone">Teléfono</label>
                                <input type="text" id="phone" class="form-control" value="{{ user.phone }}" readonly>
                            </div>
                            <div class="form-group mb-3">
                                <label for="email">Correo electrónico</label>
                                <input type="email" id="email" class="form-control" value="{{ user.email }}" readonly>
                            </div>
                            <div class="form-group mb-3">
                                <a href="/edit_profile.php" class="btn btn-primary">Cambiar datos</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'includes/footer.twig' %}
</body>
</html>
